{{#each data}}
<div class="col col-xs-6">
  <div class="rad-info-box rad-txt-success">
    <i class="{{this.icon}}"></i>
<div>
	<span class="heading">{{ this.heading }}</span>
	<span class="value"><span>{{ this.value }}</span></span>
</div>
   </div>
</div>

{{/each}}
