<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {{> styles this}}
  <title>{{ title }}</title>
</head>

<body style="">

  {{> topNav }}
 <!-- <div class="container-fluid main-wrapper p-0"> -->
    {{{ body }}}
<!--   </div> -->
  {{> scripts this }}
</body>

</html>
