:root {
  --primary1-color:#3e3181cf;
  --primary-dark-color:#2c2078;
  --primary-color: #3e3181;
  --secondary-color: #e951a5;
  --primary-light-color:#a33091;
  --pink-color:#e951a53d;
  --pink-dark-color:#e951a5cf;
  --white-color:#ffffff;
  --grey-dark:#6c757d;
  --content-height: calc(100vh);
}

body {
  background: white;
  overflow-x: hidden;
  height: 100%;
  background-color: white;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}

.pcoded-main-container .pcoded-content{
  background-color: #f6f7fb;
}

.tablePageNavi{
margin-top: 30px;
}

.tablePageNavi .pagination {
float: right;
}

.tablePageNavi ul.pagination li,ul#misPagination li{
display:block !important;
}

.pcoded-content{
/* margin-top: 56px; */
}

/* Main Loader Starts */

.main-loader {
  top: 40%;
  left: 50%;
  position: fixed;
  display: none;
}

@keyframes lds-ellipsis3 {
  0%,
  25% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    left: 100px;
  }
  100% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0%,
  25% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  50% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  75% {
    left: 100px;
  }
  100% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@keyframes lds-ellipsis {
  0% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  25% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    left: 100px;
  }
  75% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    left: 168px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis {
  0% {
    left: 32px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  25% {
    left: 32px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    left: 100px;
  }
  75% {
    left: 168px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    left: 168px;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
}

.lds-ellipsis {
  position: relative;
  background-color: #d8b9cd;
}

.lds-ellipsis > div {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
}

.lds-ellipsis div > div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--primary-color);
  position: absolute;
  top: 100px;
  left: 32px;
  -webkit-animation: lds-ellipsis 1s cubic-bezier(0, 0.5, 0.5, 1) infinite
    forwards;
  animation: lds-ellipsis 1s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
}

.lds-ellipsis div:nth-child(1) div {
  -webkit-animation: lds-ellipsis2 1s cubic-bezier(0, 0.5, 0.5, 1) infinite
    forwards;
  animation: lds-ellipsis2 1s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  background: #90ffb5;
}

.lds-ellipsis div:nth-child(2) div {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
  background: var(--secondary-color);
}

.lds-ellipsis div:nth-child(3) div {
  -webkit-animation-delay: -0.25s;
  animation-delay: -0.25s;
  background: #ffd391;
}

.lds-ellipsis div:nth-child(4) div {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  background: #ff727d;
}

.lds-ellipsis div:nth-child(5) div {
  -webkit-animation: lds-ellipsis3 1s cubic-bezier(0, 0.5, 0.5, 1) infinite
    forwards;
  animation: lds-ellipsis3 1s cubic-bezier(0, 0.5, 0.5, 1) infinite forwards;
  background: #90ffb5;
}

.lds-ellipsis {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}


/* Main Loader Ends */
 
 /* Toggle Styles */
 
 #wrapper {
  padding-left: 0;
  overflow: visible;
}

#wrapper.toggled {
  padding-left: 250px;
  overflow: visible;
}

#sidebar-wrapper {
  z-index: 1000;
  position: absolute; 
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: visible;
  background: var(--primary-color);
   
}
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  position: absolute;
  padding: 15px;
  width: 100%;  
  overflow-x: visible; 
}
.xyz{
  min-width: 360px;
}
#wrapper.toggled #page-content-wrapper {
  position: relative;
  margin-right: 0px; 
}
.fixed-brand{
  width: auto;
}
/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 2px;
  height: 100%;
}

.sidebar-nav li {
  text-indent: 15px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background:rgb(0, 0, 0);
  border-left: red 2px solid;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
.no-margin{
  margin:0;
}

@media(min-width:768px) {
  #wrapper {
      padding-left: 250px;
  }
  .fixed-brand{
      width: 250px;
  }
  #wrapper.toggled {
      padding-left: 0;
  }

  #sidebar-wrapper {
      width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
      width: 250px;
  }
  #wrapper.toggled-2 #sidebar-wrapper {
      width: 50px;
  }
  #wrapper.toggled-2 #sidebar-wrapper:hover {
      width: 250px;
  }


  #page-content-wrapper {
      padding: 20px;
      position: relative;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
  }

  #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
      padding-left: 250px;
  }
  #wrapper.toggled-2 #page-content-wrapper {
      position: relative;
      margin-right: 0;
      margin-left: -200px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      width: auto;

  }

  .table1 {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #582c4f;
    text-align: center;
    padding: 20px 0 0 50px;
  } 

  .table1 td {
    border: 2px solid #582c4f;
    text-align: center;
  }

  .table1 th {
    border: 2px solid #582c4f;
    text-align: center;
    background-color: #b990ac;
  }

  .table1 tr:nth-child(even){
    background-color: #b990ac;
  }
}



.checkbox-menu li label {
  display: block;
  padding: 3px 10px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  margin:0;
  transition: background-color .4s ease;
}
.checkbox-menu li input {
  margin: 0px 5px;
  top: 2px;
  position: relative;
}

.checkbox-menu li.active label {
  background-color: #cbcbff;
  font-weight:bold;
}

.checkbox-menu li label:hover,.checkbox-menu li:hover,
.checkbox-menu li label:focus,.checkbox-menu li:focus {
  background-color: #f5f5f5;
}

.checkbox-menu li.active label:hover,
.checkbox-menu li.active label:focus {
  background-color: #b8b8ff;
}

.convertBtn{
  bottom: 0;
  position: absolute;
}

button{
  margin-bottom: 10px;
}
/* .pcoded-navbar, .pcoded-header .m-header {
  width: 305px;
}

.pcoded-main-container{
  margin-left: 305px;
} */
ul.profile-options{
  position: absolute;
  display: block;
  width: 215px;
  z-index: 999;
  right: 0;
  top: 56px;
  background: white;
  color: black;
  box-shadow: 2px 3px 4px 1px #e6e6e6;
}

.profile-options li{
  display: list-item !important;
  padding: 0px !important;
  line-height: 40px !important;
} 

.profile-options li:hover{
  background-color: #271e7714;
}

.pcoded-header.header-blue .profile-options li a{
  font-weight: 500 !important;
  font-size: 12px !important;
}

button a,button a:hover{
  color: white;
}