{{> sideNav this }}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
  <div class="pcoded-content">
    <!-- [ Main Content ] start -->
    <div class="p-0">
      <div class="p-0 contant-holder">
        <!-- contant holder start -->
        <h3 class="main-head-3">Black List</h3>
        <!-- contant holder end -->
        <div class="col-md-12 pt-2 pb-5">
          <main class="px-4 py-3">
            <div id="alert-box" class="alert-box"></div>
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active show" id="add-gblacklist-tab" data-toggle="tab" href="#add"
                  role="tab" aria-controls="add" aria-selected="false">Add Blacklist Number</a>
                <a class="nav-item nav-link" id="upload-gblacklist-tab" data-toggle="tab" href="#upload" role="tab"
                  aria-controls="view" aria-selected="false">Upload Number</a>
                <a class="nav-item nav-link" id="view-gblacklist-tab" data-toggle="tab" href="#view" role="tab"
                  aria-controls="view" aria-selected="false">View / Delete Blacklist Number</a>
                <a class="nav-item nav-link d-none" id="remove-gblacklist-tab" data-toggle="tab" href="#remove"
                  role="tab" aria-controls="view" aria-selected="true">Remove
                  Number</a>
              </div>
            </nav>

            {{!-- <div class="col-md-6 py-4 m-auto"> --}}
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade active show in" id="add" role="tabpanel" aria-labelledby="nav-home-tab">
                  <div class="col-md-6 py-4 m-auto">

                    <h4>Add Blacklist Number</h4>
                    <div id="add-gblacklist-form" class="gblacklist-form col-md-12 mt-4">
                      <form id="add-gblacklist" action="#" method="post" autocomplete="off">
                        <div class="form-group row">
                          <label for="mobileNumber">Mobile
                            Number</label>
                          <input type="text" class="form-control" id="mobileNumber" name="mobileNumber" value=""
                            title="Enter Mobile Number." placeholder="Mobile Number" required="" autocomplete="off"
                            pattern="^[0-9]{12}$" title="Enter 10 digit mobile number with 91.">
                          <div class="txt-center">Please add the number with 91</div>
                        </div>
                        <div class="form-group row">
                          <label for="description">Description</label>
                          <input type="text" class="form-control" id="description" name="description" value=""
                            title="Enter Description" placeholder="Description" required="">
                        </div>
                        <div class="row">
                          <div class="form-group mt-4">
                            <button type="submit" id="" class="btn btn-primary">Add Blacklist Number</button>
                            <button type="reset" id="cancelForm" class="btn btn-secondary">Cancel</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="upload" role="tabpanel" aria-labelledby="nav-profile-tab">
                  <div class="col-md-6 py-4 m-auto">

                    <div id="upload-gblacklist-form" class="gblacklist-form">
                      <h4>Upload Blacklist Number</h4>
                      <div id="upload-gblacklist-form" class="gblacklist-form col-md-12 mt-4">
                        <form id="upload-gblacklist" action="#" method="post" autocomplete="off">
                          <div class="form-group row">
                            <label for="orgName" class="">File <small>(<b>Format</b> : 99845.....)</small></label>
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="selectFile" name="files"
                                accept=".csv, .txt, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                              <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                            <small>Note : Only .txt allowed</small>
                          </div>
                          <div class="form-group row">
                            <label for="description" class="">Description</label>
                            <input type="text" class="form-control" id="desc" name="description" value=""
                              title="Enter Description" placeholder="Description" required="">
                          </div>
                          <div class="row">
                            <div class="form-group mt-4">
                              <button type="submit" id="" class="btn btn-primary">Upload Blacklist Number</button>
                              <button type="reset" id="cancelForm" class="btn btn-secondary">Cancel</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="view" role="tabpanel" aria-labelledby="nav-home-tab">
                  <div class="col-md-6 py-4 m-auto">
                    {{!-- <div class="col-md-6"> --}}
                      <h4>View Blacklist Number</h4>
                      <div class="frm-border">
                        <form id="search-blacklist-form">
                          <div class="row">
                            <div class="col-md-7">
                              <div class="form-group">
                                <label for="txt-from">Search Mobile Number</label>
                                {{!-- <input type="text" class="form-control" --}} {{!-- <input type="text"
                                  class="form-control" id="searchMobileNumber" name="mobileNumber" value=""
                                  title="Enter mobileNumber" placeholder="Mobile Number" required=""> --}}

                                <div class="input-group mb-3">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">91</span>
                                  </div>
                                  <input type="text" class="form-control" id="searchMobileNumber" name="mobileNumber"
                                    title="Enter Mobile Number." placeholder="Mobile Number" required=""
                                    autocomplete="off" pattern="^[0-9]{10}$" aria-describedby="basic-addon1" />
                                </div>
                              </div>
                            </div>
                            <div class="col-md-5">
                              <div class="form-group mt-4 pt-1">
                                <button type="button" class="btn btn-primary" id="submitSearch">Search</button>
                                <button type="button" class="btn btn-secondary" id="listAll">List All</button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                      <div id="dwnloadBtn" class="float-right">

                      </div>
                      <table id="allBlacklistNumber"
                        class="table table-striped table-sm table-bordered dt-responsive nowrap" style="width:100%">
                      </table>
                      <div class="paginationNav float-right" style="margin-top:10px;">
                        <ul id="misPagination" class="pagination table-pagination">
                          <li class="page-item"><a class="page-link" id="pagePrev" href="#">Previous</a></li>
                          <li class="page-item"><a class="page-link" id="pageNext" href="#">Next</a></li>
                        </ul>
                      </div>
                      {{!--
                    </div> --}}
                  </div>
                </div>
                <div class="tab-pane" id="remove" role="tabpanel" aria-labelledby="nav-profile-tab">
                  <div class="col-md-6 py-4 m-auto">

                    <h4>Remove Blacklist Number</h4>
                    <div id="remove-gblacklist-form" class="gblacklist-form col-md-12">
                      <div id="remove-gblacklist-form" class="gblacklist-form py-3">
                        <form id="remove-gblacklist" action="#" method="post" autocomplete="off">
                          <div class="form-group row">
                            <label for="mobileNumber" class="">Mobile Number</label>
                            <input type="text" class="form-control" id="mobileNumber" name="mobileNumber" value=""
                              title="Enter Mobile Number." placeholder="Mobile Number" required="" autocomplete="off">
                          </div>
                          <div class="form-group row">
                            <label for="description" class="">Description</label>
                            <input type="text" class="form-control" id="description" name="description" value=""
                              title="Enter Description" placeholder="Description" required="">
                          </div>
                          <div class="form-group row mt-4">
                            <button type="submit" id="" class="btn btn-primary">Remove Blacklist Number</button>
                            <button type="reset" id="cancelForm" class="btn btn-danger">Cancel</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {{!--
            </div> --}}
          </main>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-div">
    <span class="copy float-left">
      <p id="demo"></p> &copy; All Rights Reserved
    </span>
    <span class="float-right">
      <ul class="social-media-icon">
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
      </ul>
    </span>
  </div>
</div>