{{> sideNav }}
<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
  <div class="pcoded-content">
    <!-- [ Main Content ] start -->
    <div class="p-0">
      <div class="p-0 contant-holder">
        <!-- contant holder start -->
        <h3 class="main-head-3">Add Sender ID</h3>
        <!-- contant holder end -->
        <div class="col-md-12 pt-2">

           <!-- Nav tabs -->
          <ul class="nav nav-tabs mb-4">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#add"><b>Add</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#upload" id="upload-senderid"><b>Upload</b></a>
            </li>
          </ul>


          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane active" id="add">


          <div class="frm-border">
            <form id="controls-form">
              <div class="row mb-2">
                <div class="col-md-3">
                  <label for="message_type">Sender ID type</label>
                </div>
                <div class="col-md-9 ">
                  <div class="row">
                    <!-- <div class="col-md-3 custom-control custom-radio">
                    <input class="custom-control-input " type="radio" name="msgType" value="trans" id="msgType-0"
                      title="Sender ID type" checked="checked"> <label class="custom-control-label"
                      for="msgType-0">Transactional</label>
                    </div> -->
                    <div class=" col-md-3 custom-control custom-radio ">
                      <input class="custom-control-input senderIDType" type="radio" name="msgType" value="promo" id="msgType-1"
                        title="Sender ID type" checked="checked">
                      <label class="custom-control-label" for="msgType-1">Promotional</label>
                    </div>
                    <div class=" col-md-6 custom-control custom-radio ">
                      <input class="custom-control-input senderIDType" type="radio" name="msgType" value="others" id="msgType-2"
                        title="Sender ID type"> <label class="custom-control-label"
                        for="msgType-2">Others(Transactional/Service Implicit/Service Explicit)</label>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="row service_type d-none">
                <div class="col-md-4">
                  <label for="message_type">Service Type</label>
                </div>
                <div class="col-md-8">
                  <div class="row">
                  <div class="col-md-3 custom-control custom-radio">
                    <input class="custom-control-input " type="radio" name="serType" value="service-implicit" id="serType-0"
                      title="Service  type" checked="checked"> <label class="custom-control-label"
                      for="serType-0">Service Implicit</label>
                  </div>
                  <div class="col-md-3 custom-control custom-radio ">
                    <input class="custom-control-input" type="radio" name="serType" value="service-explicit" id="serType-1"
                      title="Service  type">
                    <label class="custom-control-label" for="serType-1">Service Explicit</label>
                  </div>
                </div>
                </div>
              </div> -->
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <div class="form-group">
                      <label for="txt-from">New / Existing Entity ID</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  {{!-- <div class="form-group">
                    <input type="number" class="form-control" id="addentityid" placeholder="Add Entity ID"
                      pattern="[0-9]" aria-describedby="add-entity-id">
                  </div> --}}

                  <div class="form-group">
                    <input list="addentityids" type="number" name="addentityid" id="addentityid" class="form-control">
                    <datalist id="addentityids">
                      <option value="Edge">
                      <option value="Firefox">
                      <option value="Chrome">
                      <option value="Opera">
                      <option value="Safari">
                    </datalist>
                  </div>

                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <div class="form-group">
                      <label for="txt-from">Header ID</label>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="number" class="form-control" id="headerid" placeholder="Add Header ID"
                      aria-describedby="add-header-id" pattern="[0-9]">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="txt-from">Sender ID</label>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="number" class="form-control" id="addSenderID" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                      placeholder="Add Sender id" aria-describedby="add-sender-id" required maxlength="14">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3"> </div>
                <div class="col-md-4 ">
                  <div class="form-group mt-4 pt-2">
                    <input type="submit" value="ADD" class="btn btn-primary">
                  </div>
                </div>
                <div class="col-md-4"> </div>
              </div>


          </div>
          </form>
        
        <h3 class="main-head-3">Sender ID List</h3>
        <table id="misTable" class="table table-striped table-sm table-bordered dt-responsive nowrap"
          style="width:100%"></table>

      </div>

      <div class="tab-pane" id="upload">
              <div class="frm-border">
                <form id="controls-form2">
                  <div class="row mb-2">
                    <div class="col-md-3">
                      <label for="message_type">Sender ID type</label>
                    </div>
                    <div class="col-md-9">
                      <div class="row">
                        <!-- <div class="col-md-3 custom-control custom-radio">
                    <input class="custom-control-input " type="radio" name="msgType" value="trans" id="msgType-0"
                      title="Sender ID type" checked="checked"> <label class="custom-control-label"
                      for="msgType-0">Transactional</label>
                    </div> -->
                        <div class=" col-md-3 custom-control custom-radio ">
                          <input class="custom-control-input senderIDType" type="radio" name="msgType2" value="promo"
                            id="msgType-3" title="Sender ID type" checked="checked">
                          <label class="custom-control-label" for="msgType-3">Promotional</label>
                        </div>
                        <div class=" col-md-6 custom-control custom-radio ">
                          <input class="custom-control-input senderIDType" type="radio" name="msgType2" value="others"
                            id="msgType-4" title="Sender ID type"> <label class="custom-control-label"
                            for="msgType-4">Others(Transactional/Service Implicit/Service Explicit)</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="row service_type d-none">
                <div class="col-md-4">
                  <label for="message_type">Service Type</label>
                </div>
                <div class="col-md-8">
                  <div class="row">
                  <div class="col-md-3 custom-control custom-radio">
                    <input class="custom-control-input " type="radio" name="serType" value="service-implicit" id="serType-0"
                      title="Service  type" checked="checked"> <label class="custom-control-label"
                      for="serType-0">Service Implicit</label>
                  </div>
                  <div class="col-md-3 custom-control custom-radio ">
                    <input class="custom-control-input" type="radio" name="serType" value="service-explicit" id="serType-1"
                      title="Service  type">
                    <label class="custom-control-label" for="serType-1">Service Explicit</label>
                  </div>
                </div>
                </div>
              </div> -->
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <div class="form-group">
                          <label for="txt-from">New / Existing Entity ID</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      {{!-- <div class="form-group">
                        <input type="number" class="form-control" id="addentityid" placeholder="Add Entity ID"
                          pattern="[0-9]" aria-describedby="add-entity-id">
                      </div> --}}

                      <div class="form-group">
                        <input type="number" placeholder="Add Entity ID" list="addentityids" name="addentityid"
                          id="addentityid2" class="form-control">
                        <datalist id="addentityids">
                          {{!-- <option value="Edge">
                          <option value="Firefox">
                          <option value="Chrome">
                          <option value="Opera">
                          <option value="Safari"> --}}
                        </datalist>
                      </div>

                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <div class="form-group">
                          <label for="txt-from">Header ID</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="number" class="form-control" id="headerid2" placeholder="Add Header ID"
                          aria-describedby="add-header-id" pattern="[0-9]">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="selectFile">Add Sender ID File</label>
                      </div>
                    </div>
                    {{!-- <div class="col-md-4">
                      <div class="form-group">
                        <input type="number" class="form-control" id="addSenderID"
                          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                          placeholder="Add Sender ID" aria-describedby="add-sender-id" maxlength="14" required>
                      </div>
                    </div> --}}
                    <div class="col-md-4">
                      <div class="custom-file">
                      <input type="file" id="selectFile" name="selectFile" class="custom-file-input"
                        accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                        <label id="fileName" class="custom-file-label" for="customFile">Choose file</label>
                        
                      </div>
                      <small>Note : only .csv (comma separated) file is allowed</small>
                    </div>
                    {{!-- <div class="col-md-2">
                      <input type="button" id="addbulkSender" value="ADD BULK" class="btn btn-primary">
                    </div> --}}
                  </div>
                  <div class="row">
                    <div class="col-md-3"> </div>
                    <div class="col-md-4 ">
                      <div class="form-group mt-4 pt-2">
                        <input type="button" id="btnSubmit" value="ADD" class="btn btn-primary">
                      </div>
                    </div>
                    {{!-- <div class="col-md-2 mt-6">
                      <input type="submit" id="addbulkSender" value="ADD BULK" class="btn btn-primary">
                    </div> --}}
                    
                  </div>
              </div>
              </form>

              {{!-- <h3 class="main-head-3">Sender ID List</h3>
              <table id="misTable" class="table table-striped table-sm table-bordered dt-responsive nowrap"
                style="width:100%"></table> --}}
      </div>
    </div>

    </div>
    <!-- [ Main Content ] end -->
  </div>

</div>
{{> mainLoader }}

<div class="footer-div">
  <span class="copy float-left">
    <p id="demo"></p> &copy; All Rights Reserved
  </span>
  <span class="float-right">
    <ul class="social-media-icon">
      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
    </ul>
  </span>
</div>
</div>