
<a href="#!" class="nav-link " style="padding-left: 27px;"><span class="pcoded-micon"><i class="fa fa-flag"></i></span><span
    class="pcoded-mtext" style="padding-left: 13px;">Url Management </span></a>
<ul class="pcoded-submenu" style="padding-left: 40px;">
  <li><a href="/short-url">New Short URL</a></li>
  <li><a href="/domain-manager">Domain Manager</a></li>
</ul>