<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar menupos-fixed menu-light ">
    <div class="navbar-wrapper  ">
        <div class="navbar-content scroll-div ">
            <ul class="nav pcoded-inner-navbar ">
                <li class="nav-item">
                    <a href="/dashboard" class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
                </li>
                <li class="nav-item">
                    <a href="/tour" class="nav-link "><span class="pcoded-micon"><i
                                class="feather icon-book"></i></span><span class="pcoded-mtext">Take a Tour</span></a>
                </li>
                <li class="nav-item pcoded-hasmenu">
                    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="fa fa-flag"></i></span><span
                            class="pcoded-mtext">DLT Management</span></a>
                    <ul class="pcoded-submenu">
                        <li class="nav-item">
                            <a href="/add-senderid" class="nav-link "><span class="pcoded-micon"><i
                                        class="fa fa-plus-square"></i></span><span class="pcoded-mtext">Sender/ Header
                                    ID</span></a>
                        </li>
                        <li class="nav-item">
                            <a href="/template-mgmt" class="nav-link "><span class="pcoded-micon"><i
                                        class="fa fa-file"></i></span><span class="pcoded-mtext">Content Template
                                    ID</span></a>
                        </li>
                    </ul>
                </li>


                <li class="nav-item pcoded-hasmenu" id="shortUrlNav">
                    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="fa fa-link"></i></span><span
                            class="pcoded-mtext">Spiely Link Management</span></a>
                    <ul class="pcoded-submenu">
                        <li><a href="/short-url">New Spiely Link</a></li>
                        <li><a href="/domain-manager">Domain Manager</a></li>
                    </ul>
                </li>

                <li class="nav-item pcoded-hasmenu">
                    <a href="#!" class="nav-link "><span class="pcoded-micon"><i
                                class="fa fa-paper-plane"></i></span><span class="pcoded-mtext">Campaign
                            Management</span></a>
                    <ul class="pcoded-submenu">
                        <li><a href="/quick-message">Quick Campaign</a></li>
                        <li><a href="/bulk-upload">Upload Campaign</a></li>
                        <li><a href="/dynamic-message">Dynamic Campaign</a></li>
                        <li><a href="/group-message">Group Campaign</a></li>
                        {{!-- <li><a href="/template-message">Template Campaign</a></li> --}}
                        <li><a href="/scheduled-campaign">Scheduled Campaign</a></li>
                    </ul>
                </li>
                <li class="nav-item pcoded-hasmenu">
                    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="fa fa-file"></i></span><span
                            class="pcoded-mtext">Report Management</span></a>
                    <ul class="pcoded-submenu">
                        <li><a href="/summary-report">Summary Report</a></li>
                        <li><a href="/senderidReport">Sender ID Wise Report</a></li>
                        <li><a href="/detailed-report">Detailed Report</a></li>
                        <li><a href="/campaign-report">Campaign ID Wise Report</a></li>
                        <li><a href="/detailed-analysis">Clicker Report</a></li>
                        <li><a href="/downloadReport">Consolidated Report</a></li>
                    </ul>
                </li>

                <li class="nav-item pcoded-hasmenu">
                    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="fa fa-users"></i></span><span
                            class="pcoded-mtext">Phonebook Management</span></a>
                    <ul class="pcoded-submenu">
                        <li><a href="/phonebook">Individual Contacts</a></li>
                        <li><a href="/group-management">Group Contacts</a></li>
                        <li><a href="/blacklist">Blacklist Contacts</a></li>
                    </ul>
                </li>

                <li class="nav-item d-none" id="creditHistory">
                    <a href="/credits-management" class="nav-link "><span class="pcoded-micon"><i
                                class="fa fa-dollar mr-1"></i></span><span class="pcoded-mtext">
                            Credits History
                        </span></a>
                </li>
                {{!-- <li class="nav-item">
                    <a href="/template-management" class="nav-link "><span class="pcoded-micon"><i
                                class="fa fa-picture-o"></i></span><span class="pcoded-mtext">Template
                            Manager</span></a>
                </li> --}}

                {{!-- <il class="nav-item pcoded-hasmenu" id="shortUrlNav"></il> --}}
                {{!-- <li class="nav-item">
                    <a href="/short-url" class="nav-link "><span class="pcoded-micon"><i
                                class="fa fa-picture-o"></i></span><span class="pcoded-mtext">New Short URL</span></a>
                </li> --}}
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->