{{> sideNav this }}
<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
  <div class="pcoded-content">
    <!-- [ Main Content ] start -->
    <div class="p-0">
      <div class="p-0 contant-holder">
        <!-- contant holder start -->
        <h3 class="main-head-3">Template Message</h3>
        <!-- contant holder end -->
        <div class="col-md-12 m-auto pt-2 pb-5">
          
          <div class="col-md-10 m-auto ">
            <div class="frm-border">
              <div class="add-contact">
                <form id="template-msg-form" class="my-4">
                  <div class="form-group row">
                    <label for="campaignName" class="col-md-4 col-form-label">Campaign Name</label>
                    <div class="col-md-6">
                      <input type="text" class="form-control" id="campaignName" name="campaignName" value=""
                        title="Title" placeholder="Name" autocomplete="off">
                        <span class="txt-center">Note : Special characters are not allowed in campaign name like SPACE , [ ] { } | \ ; : " ' < >  .  ? / ~ `</span>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="msgType-0" class="col-md-4 col-form-label">Message Encoding</label>
                    <div class="col-md-8">
                      <div class="custom-control custom-radio">
                        <input class="custom-control-input" type="radio" name="msgType" value="plain" id="msgType-0"
                          title="Select Message Type" checked="checked">
                        <label class="custom-control-label" for="msgType-0">SMS</label>
                      </div>
                      <div class="custom-control custom-radio">
                        <input class="custom-control-input" type="radio" name="msgType" value="FL" id="msgType-2"
                          title="Select Message Type"> <label class="custom-control-label" for="msgType-2">Flash</label>
                      </div>
                    </div>
                  </div>

                  <div class="row form-group">
                    <div class="col-md-4">
                      <label for="MessageType">Message Type </label>
                    </div>
                    <div class="col-md-8 ">
                      <div class="col-md-3 custom-control custom-radio">
                        <input class="custom-control-input messagetype" type="radio" name="serviceType" value="trans"
                          id="messType-0" title="Message Type" checked="checked"> <label class="custom-control-label"
                          for="messType-0">Transactional</label>
                      </div>
                      <div class=" col-md-3 custom-control custom-radio ">
                        <input class="custom-control-input messagetype" type="radio" name="serviceType" value="promo"
                          id="messType-1" title="Message Type">
                        <label class="custom-control-label" for="messType-1">Promotional</label>
                      </div>
                      <div class=" col-md-2 custom-control custom-radio ">
                        <input class="custom-control-input messagetype" type="radio" name="serviceType" value="service"
                          id="messType-2" title="Message Type"> <label class="custom-control-label"
                          for="messType-2">Service</label>
                      </div>
                    </div>
                  </div>
                  <div class="row form-group service_type d-none ">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-6 ">
                      <div class="col-md-3 custom-control custom-radio">
                        <input class="custom-control-input " type="radio" name="serviceSubType" value="service-implicit"
                          id="serType-0" title="Service type" checked="checked"> <label class="custom-control-label"
                          for="serType-0">Service Implicit</label>
                      </div>
                      <div class="col-md-3 custom-control custom-radio ">
                        <input class="custom-control-input" type="radio" name="serviceSubType" value="service-explicit"
                          id="serType-1" title="Service type">
                        <label class="custom-control-label" for="serType-1">Service Explicit</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row" id="senderIdSelectDiv">
                    <label for="deptName" class="col-md-4 col-form-label">Sender Id</label>
                    <div class="col-md-6">
                      <select type="text" class="form-control custom-select senderIdSelect" id="senderIdSelect"
                        name="senderId" required>
                        <option disabled selected>-- Select --</option>
                      </select>
                    </div>
                  </div>
                  <div class="row form-group">
                    <div class="col-md-4">
                      <label for="templatename" class="col-form-label">Content Template Name </label>
                    </div>
                    <div class="col-md-6">
                      <select class="custom-select" id="templatename" name="contentTemplateId" title="Template Name">
                        <option selected>-- Select --</option>
                      </select>
                      <span class="displayTemplateTextSpan d-none"><small><b>Template Text : </b></small><small
                          id="displayTemplateText"></small></span>
                    </div>
                  </div>
                  <div class="form-group row hidden" id="chooseTemplate-row">
                    <label for="chooseTemplate" class="col-md-4 col-form-label">Choose Template</label>
                    <div class="col-md-6">
                      <select type="text" class="form-control" id="templateOption" name="templateName">
                        <option disabled>-- Select --</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="selectFile" class="col-md-4 col-form-label">Select File</label>
                    <div class="col-md-6">
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" id="selectFile" name="selectFile"
                          accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                        <label class="custom-file-label" for="customFile">Choose file</label>
                      </div>
                      <small>Note : Only .xslx and .xls are allowed</small>
                    </div>
                    <div class="col-md-2">
                      <button type="button" id="fupload" class="btn btn-primary">Upload</button>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="mobileNumber" class="col-md-4 col-form-label">Mobile Number</label>
                    <div class="col-md-6">
                      <select type="text" class="form-control" id="mobileNumber" name="mobileNumber">
                        <option value="english" disabled>-- Select --</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="msgText" class="col-md-4 col-form-label">Message Text</label>
                    <div class="col-md-6">
                      <textarea id="msgText" rows="5" class="form-control" placeholder="Message Text"
                        readonly></textarea>
                        <span class="txt-center d-none"><span id="smsCr">0</span>SMS Credit</span>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="scheduleMessage-0" class="col-md-4 col-form-label">Parameter
                      Mapping</label>
                    <div class="col-md-6 mt-2">
                      <div id="allParams"></div>
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="scheduleMessage-0" class="col-md-4 col-form-label">Schedule Message</label>
                    <div class="col-md-6 mt-2">
                      <div class="custom-control custom-radio">
                        <input class="custom-control-input" type="radio" name="scheduleMessage" value="yes"
                          id="scheduleMessage-0" title="Schedule Message"> <label class="custom-control-label"
                          for="scheduleMessage-0">Yes</label>
                      </div>
                      <div class="custom-control custom-radio">
                        <input class="custom-control-input" type="radio" name="scheduleMessage" value="no"
                          id="scheduleMessage-1" title="Schedule Message" checked="checked">
                        <label class="custom-control-label" for="scheduleMessage-1">No</label>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row scheduleDateGroup d-none">
                    <label for="senderId" class="col-md-4 col-form-label">Schedule Date</label>
                    <div class="col-md-6">
                      <input placeholder="From Date & Time" class="form-control" name="scheduleDateTime"
                        id="schedule_date" type="text" />
                    </div>
                  </div>
                  <div class="row form-group quick-message">
                    <div class="col-md-4"><label for="entityId">Entity ID</label></div>
                    <div class="col-md-6"><input type="number" class="form-control" id="entityId" name="entityId"
                        value="" title="Entity ID" placeholder="Entity Id" pattern="[0-9]"></div>
                  </div>

                  <div class="row form-group quick-message">
                    <div class="col-md-4"><label for="operatorTemplateId">Operator Template ID</label></div>
                    <div class="col-md-6"><input type="text" class="form-control" id="operatorTemplateId"
                        name="dltTemplateId" value="" title="Operator Template ID" placeholder="Operator Template Id"
                        pattern="[a-zA-Z0-9]+"></div>
                  </div>

                  <div class="form-group text-center mt-5 mb-4">
                    <button id="btnPreview" type="button" class="btn btn-primary btn-form"><i
                        class="feather save icon-save float-left mt-1"></i>&ensp;Preview</button>
                    <button id="btnCancel" type="reset" class="btn btn-secondary btn-form"><i
                        class="feather x-square icon-x-square float-left mt-1"></i>&ensp;Cancel</button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-div">
    <span class="copy float-left">
      <p id="demo"></p> &copy; All Rights Reserved
    </span>
    <span class="float-right">
      <ul class="social-media-icon">
        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
        <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li>
      </ul>
    </span>
  </div>
</div>
<!-- [ Main Content ] end -->
{{> mainLoader }}


<!-- Modal -->
<div id="messageModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Preview Template</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <tr>
            <th width="25%">Mobile</th>
            <th>Message</th>
          </tr>
          <tbody id="tBody">

          </tbody>
        </table>
        <span class="txt-center">
          Total Count : <span id="totalCount">0</span> |
          Plain Count : <span id="count">0</span> |
          Plain Credit : <span id="credit">0</span> |
          Unicode Count : <span id="uniCode">0</span> |
          Unicode Credit : <span id="uniCodeCr">0</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="sendNow">Send Now</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>