<div class="row m-0">
  <div class="col-md-12 p-0">
    {{> sideNav this }}
  </div>
  <div class="col-md-12 p-0">
    <main class="px-4 py-3" style="padding-left: 15px;">
      <div id="services-form">
        <p><b><u>The Motive</u></b></p>
        <p>We are involved in throughout the development cycle of the product from the very begining to end delivery. You just bring the need to us, we will research your requirement, analyse and shape your product.
          With the best knowledge and expertise of the industry we will design and implement the product and deliver the best to you.
          <br>
          <p><b><u>Our Services</u></b></p>
          <p>
            <b>-</b> Web Development<br>
            <b>-</b> Application Development<br>
            <b>-</b> Mobile App Development<br>
            <b>-</b> Web Designing<br>
            <b>-</b> IVR Services<br>
            <b>-</b> Digital Marketing Solutions<br>
            <b>-</b> Data Analytics<br>
            <b>-</b> Media Solutions<br>
            <b>-</b> Enterprise Solutions<br>
          </p>
        </p>
        <br>
        <p><b><u>Our Products</u></b></p>
        <p>
            <b>-</b> SMPP<br>
            <b>-</b> High Performance SMS Platform<br>
            <b>-</b> Webtool<br>
        </p>
        {{> mainLoader }}
      </div>
    </main>
  </div>
</div>
